/**
 * buscar specific CSS
 
/*
-------------------------------------------------------------- */
.criterios {
    color: #48bfc2;
}
.criterios-busqueda {
    color: #aaaaaa;
    margin: 0;
    padding: 0;
}
.busca {
    color: #48bfc2;
    float: left;
    text-align: right;
}
.busca .la-busqueda{
    font-size: 48px;
    font-family: 'blanchcondensed';	
}
.meta, .meta a {
    color: #C6C6C6;
}
.meta {
    color: #c6c6c6;
    float: left;
    font-size: 14px;
    margin-right: 30px;
    text-align: right;
}

.meta .date .year {
    color: #c6c6c6;
    font-family: 'blanchcondensed';
    font-size: 60px;
    font-style: normal !important;
    line-height: 45px;
}


.meta .date .month {
    border-bottom: 2px solid #48bfc2;
    color: #000;
    font-family: lato;
    font-size: 25px;
    font-style: normal !important;
    font-weight: bold;
    line-height: 26px;
    margin: -18px 0 0;
    text-align:center;
}
h2.entry-title {
    color: #48bfc2;
    display: block;
    font-family: 'lato' !important;
    font-size: 22px !important;
    margin-top: 0;
    text-transform: none !important;
}
h2.entry-title > a {color: #48bfc2;}
h2.entry-title > a:hover {color: #3aacaf;}
.divisor-gris-dotted {
    border-bottom: 1px dotted #b5b5b5;
    margin: -40px 0 40px;
}

/** compartir social **/

.fusion-sharing-box .fusion-social-networks {
    display: inline;
    text-align: left;
}
.fusion-sharing-box {
    background-color: #f6f6f6;
    display: table;
    height: 70px;
    margin-bottom: 55px;
    padding: 20px 20px 20px 0;
    width: 100%;
}
a:hover {
  color: #48BFC2;
  text-decoration: none;
}
.search-page-search-form {
    border-bottom: 1px solid #e6e5e6;
    margin-bottom: 60px;
    padding-bottom: 10px;
}
.resultados {
    font-size: 15px;
    margin: 0;
}