/**
 * solicitud specific CSS
 
/* =bbPress Style
-------------------------------------------------------------- */
.seccion{}
p.titulo{color:#000;font-size:11px;}
p.info{color:#333333;font-size:15px;}
.fusion-sharing-box {padding: 0;}
.fusion-social-networks .fusion-social-network-icon {margin-right: 13px;}
.fusion-sharing-box .fusion-social-networks {text-align: left;}
.fusion-sharing-box.compartir{display:inline-block;}




