/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */
  /** header **/
 .contain-to-grid {
    background: none repeat scroll 0 0 #fff !important;
    width: 100%;
}
 .top-bar .name h1 a {
    color: ;
    }